.other-content {
  background-color: rgb(205, 205, 246);
  padding: 1rem;
  margin-top: 1rem;
  height: 700px;
}

button {
  padding: 0.25rem;
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.25em;
}

.modal-content {
  position: relative;
  background-color: rgb(213, 213, 213);
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
}
