#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.accordion-title span {
  cursor: pointer;
  /* background-color: lightblue; */
  background-color: pink;
  padding: 0.25em;
  height: 100px;
  width: 100px;
  margin-left: 1em;
  /* border-radius: 50%; */
}

.component-container {
  width: 100%;
  /* background-color: green; */
  width: 100%;
}

.parent-nest {
  text-align: left;
}
.parent-nest-name {
  cursor: pointer;
  user-select: none;
}

.App {
  width: 100%;
}
